#This file is for setting the 4 parameters
#
#FILE1 is the detection events dataset
FILE1 = ../input/file1event.parquet
#FILE2 is the reference table dataset
FILE2="../input/file2reftable.parquet"
#OUTPUT_FILE is the output parquet file
OUTPUT_FILE="../output/output.parquet"
#TOP_N_ROW returns the top ranked row of the result,
# tie-breakers are included, i.e. if TOP_N_ROW=2, but there are two 2nd ranked items, both rows are returned
# to have no filter set TOP_N_ROW to 0 or negative value
TOP_N_ROW=2
